
.lorem{
    /* background-color: red; */
    font-size: 25px;
    font-family: 'Didact Gothic', sans-serif;
    transition-property: all;
    transition-duration: 20s;
    transition-timing-function: linear;
    transition-delay: 10s;
    
    display: none;   
}
.loadmore:hover+.lorem{
    transition-duration: 5s;
  transition-delay: 2s;
    display: block;
}
.maincontainer {
    max-width: 1400px;
    width: 90%;
    height: 100%;
    margin: 40px auto;
}
.flex{
    display: flex;
    top: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.search{
    padding-left: 20px;
}
.logo1 {
    max-width: 150px;   
    position: relative;
  animation-name: example;
  animation-duration: 4s;
}
.navigationstyles{
    margin-left: 20px;
    color:black;
    font-family: 'Didact Gothic', sans-serif;
} 
.navigationstyles:hover{
    color: grey;
}
.mainpic{
    background-image: url(../images/slider-img.png);
    max-width: 1400px;
    width: 100%;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 0;
    /* margin: 0 auto; */
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}
.nav-ul{
    display: flex;
    text-transform: uppercase;
}
/* 
<!-- popular articles --> */
.populararticles{
    font-size: 32px;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 3%;
    font-family: 'Maven Pro', sans-serif;
}
.artim1 {
    width: 360px;
    border-radius: 20px;
}
.artim3 {
    width: 360px;
    border-radius: 20px;
    /* height: 220px; */
}
.livetext{
    font-size: 25px;
    padding: 15px;
    font-family: 'Dosis', sans-serif;
}
.ptext{
    font-size:15px;
    padding: 15px;
    size: 200px;
    font-family: 'Hubballi', cursive;
    font-weight: 600;
}
.ptext:hover{
    color: gray;
    cursor: pointer;
}
.pirveliyuti{
    width: 360px;
}
.more{
    justify-content: right;
    color: black;
    font-family: 'Signika', sans-serif;
}
.more:hover{
    color: grey;
    font-size: 17px ;
}
.loadmore{
    font-size:25px ;
    color: grey;
    justify-content: center;
    transition-property: all;
    transition-duration: 20s;
    transition-timing-function: linear;
    transition-delay: 10s;
}
.loadmore p{
    margin: 20px;
}

/* footer styles */
.yticon{
    width: 30px;
    height: 30px;
}
.footerbg{
    width: 100%;
    height: 150px;
    background-color: #2E2E2E;
}
.contactnumber {
    color: #fff;
    
}
.footeremail{
    color: white;;
}
.footerul2{
    color: #fff ;
}
.navigationmap{
    color:#fff;
}
.contacttext{
    margin: 4%;
    text-transform: uppercase;
}
.adresstext{
    margin: 4%;
    text-transform: uppercase;
}
.footerfont{
    font-family: 'Padauk', sans-serif;
}
.copyright{
    margin-top: 20%;
    margin-left: 10px;
    color: #fff;
}


/* login html */
/* .box5{
    width: 100px;
    height: 150px;
    background-color: red;
} */


.signuppsw  {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-color: black;
    
    border-radius: 20px;
  }
.signuph1{
      font-size: 30px;
      margin-bottom: 2%;
  }
.signuptext {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
   
    border-color: black;
    border-radius: 20px;
}
.container {
    padding: 16px;
  }
  .signupbutton {
    background-color: #b1174a;
    color: white;
    padding: 7px;
    margin: 9% ;
    border-radius: 15px;
    cursor: pointer;
    width: 80%;
    opacity: 0.9;
}
.signup{
    margin-left: 30%;
    margin-top: 10%;
    
    
}
/* .signupbutton{
    background: none;

    width: 290px;
    height: 30px;
    margin: 8px ;
    background-color: rgb(244 67 54 / 41%);
    border-radius: 10px;
    border-color: #fff;
    text-transform: capitalize;
    font-weight: 700;
} */

.hr{
    border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.cancelbtn, .signupbtn {
    float: left;
    width: 40%;
    height: 30px;
    margin-top: 3%;
    background-color: lightblue;
    border-radius: 10px;
    border-color: wheat;
  }
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
  
    background-color: #f1999977;
    padding-top: 50px;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 5px solid rgb(185, 89, 89);
    border-radius: 20px;
    width: 50%; 
  }
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.loginbox{
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    /* background-color: pink; */
    border: 4px double pink;
    box-shadow: 5px 5px 5px #ffb6c191;
    border-radius: 40px;
    font-family: 'Signika', sans-serif;
}

.loginwelcome{
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
}
.formbox{
    display: flex;
    flex-direction: column;
    margin:13%;
}
.phonenumberlogin {
    width: 90%;
    height: 40px;
    margin-left: 5%;
    border-radius: 5px;
    border-color: lightgray;
}
.passwordlogin{
    width: 90%;
    height: 40px;
    margin-left: 5%;
    border-radius: 5px;
    border-color: lightgray;
}
.buttonlogin{
    background: none;
    width: 80%;
    height: 30px;
    margin-left: 10%;
    background-color: rgb(244 67 54 / 41%);
    border-radius: 10px;
    border-color: #fff;
    text-transform: capitalize;
    font-weight: 700;
}
.text9, #gamochndes { 
    display: none;
}
#gamochndes:checked + .text9 {
    display: block;
}
.searchbar{
    border-radius: 30px;
    font-size: 15px;
    padding: 3%;
}

/* contact page styles  */
.contactflex{
    display: flex;
    top: 0;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 800px;
    font-size: 15px;
}
.adressicon{
    width: 20%;
    height: 25px;
    padding-right: 5%;
    display: flex;    
}
.gldaninazaladevi{
    width: 80%;
}
.adressbox{
    margin-bottom: 20%;
}
.mobileicon{
    margin-bottom: 20%;
}
.map{
    border-radius: 20px;
    border: 4px solid black;
}
/* team infos  */
.ourteam{
    display: flex;
    justify-content: start;
    font-size: 30px;
    color: purple;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
}
/* .ourteam:hover{
    cursor: pointer;
} */
.cvphoto{
    width: 250px;
    height: 250px;
    opacity: 0.8;
    border-radius: 10px;
}
.cvphoto:hover{
    opacity: 1;
    transform: scale(1.1,1.1);
    cursor: pointer;
}
.cover2 {
    height: 100%;
    width: 100%;
    background-color: rgb(76 175 97 / 53%);
    top: 0%;
    left: 0;
    color: #fff;
}
.name{
    font-size: 20px;
    margin-top: 3%;
    font-family: 'Dosis', sans-serif;
}
.contactfirstboxtext :nth-child(2){

    font-size: 15px;
    margin-top: 3%;
    font-family: 'Dosis', sans-serif;
}
.contactfirstboxtext :nth-child(3){

    font-size: 15px;
    margin-top: 3%;
    font-family: 'Dosis', sans-serif;
}
.contactfirstboxtext :nth-child(4){

    font-size: 15px;
    margin-top: 3%;
    font-family: 'Dosis', sans-serif;
}
.firstboxcontact{
    margin-bottom: 20px;
}
.allboxes{
    margin-left: 50px;
    margin-right: 50px;
}

.hiddenmenu{
    display: none;
}
/* responsive styles*/

@media (max-width: 1024px){
    .pirveliyuti{
        margin-bottom: 2%;
    }
    .hiddenmenu{
        display: none;
    }
}
@media (max-width: 1200px){
    .pirveliyuti{
        margin-bottom: 2%;
    }
    .hiddenmenu{
        display: none;
    }
}
@media(max-width:880px ){
    .nav-ul{
        display: none;
    }
    .hiddenmenu{
        display: block;
    }
}
@media (max-width: 768px){
    
    .pirveliyuti{
        margin-bottom: 2%;
        /* margin-left: 5%; */
        /* justify-content: center; */
    }
}
    
@media (max-width: 680px){
    .nav-ul{
        display: none;
    }
    .footerlogo{
        display: none;
    }

    .populararticles{
        margin-left: 21%;

    }
    .loginbox{
        width: 300px;
    }
    .map{
        color:rgb(206, 13, 13);
        width: 300px;
        margin-top: 5%;
    }
}
@media (max-width:400px){
    .more{
        justify-content: center;
        color: black;
        font-family: 'Signika', sans-serif;
    }
    .artim3{
        width: 200px;
    }
    .artim1{
        width: 200px;
    }
    .pirveliyuti {
        width: 200px;
    }
    .mainpic{
        width: 200px;
    }
    .populararticles{
        margin-left: 3%;

    }
    .loginbox{
        width: 200px;
    }
    .loginwelcome{
        font-size: 25px;
        text-align: center;
        margin-top: 5%;
    }
    .map{
        width: 200px;
        margin-top: 5%;
    }
    .allboxes{
        margin-left: 0;
    }
    .cvphoto{
        width: 200px;
        height: 100px;
    }
    
}
@media (max-width: 230px){
    .artim3{
        width: 100px;
    }
    .artim1{
        width: 100px;
    }
    .pirveliyuti {
        width: 100px;
    }
    .mainpic{
        width: 100px;
        height: 200px;
    }
    .loginbox{
        width: 100px;
    }
    .cvphoto{
        width: 150px;
        height: 100px;
    }
    .map{
        
        width: 100px;
        margin-top:0;
    }
}

@media (max-width: 170px){
    .artim3{
        width: 100px;
    }
    .artim1{
        width: 100px;
    }
    .pirveliyuti {
        width: 100px;
    }
    .mainpic{
        width: 100px;
        height: 200px;
    }
    .logo1{
        width: 100px;
    }
    .footeremail{
        display: none;
    }
    .loginwelcome{
        font-size: 25px;
        text-align: center;
        margin-top: 5%;
    }
    
}


